.spinner {
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #563D7C;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.spinner .rect6 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.spinner .rect7 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.spinner .rect8 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.spinner .rect9 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.spinner .rect10 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.spinner .rect11 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.spinner .rect12 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

.spinner .rect13 {
    -webkit-animation-delay: -0.05s;
    animation-delay: -0.05s;
}

.spinner .rect14 {
    -webkit-animation-delay: -0.01s;
    animation-delay: -0.01s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}