<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xubitao.pirate.persistence.provider.ProviderPersistence">

    <select id="countContract" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(*) FROM contract WHERE deleteStatus=0 AND providerId=#{id}
    </select>

</mapper>